<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a>.</p>
    <![endif]-->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= title %></a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a data-toggle="modal" href="#privacy">Privacy</a></li>
          <li><a data-toggle="modal" href="#technologies">Technologies</a></li>
        </ul>
        <p class="navbar-text">
          Sort by
        </p>
        <div class="btn-toolbar">
          <div id="filters" class="btn-group">
            <a id="fcount" href="#<%= encodeURIComponent(JSON.stringify({sort: 'count', page: 1})) %>" class="btn btn-default btn-success navbar-btn" data-toggle="tooltip" title="Current visitor"><i class="fa fa-user fa-lg"></i></a>
            <a id="favestay" href="#<%= encodeURIComponent(JSON.stringify({sort: 'avestay', page: 1})) %>" class="btn btn-default navbar-btn" data-toggle="tooltip" title="Ave. time on page"><i class="fa fa-clock-o fa-lg"></i></a>
            <a id="ftitle" href="#<%= encodeURIComponent(JSON.stringify({sort: 'title', page: 1})) %>" class="btn btn-default navbar-btn" data-toggle="tooltip" title="Name"><i class="fa fa-sort-alpha-asc fa-lg"></i></a>
          </div>
          <div class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input id="searchFilter" type="text" class="form-control" placeholder="Search title, hostname...">
            </div>
          </div>
          <ul class="nav navbar-nav">
        <!--<li><a target="_blank" href="https://github.com/nko4/nko-analytics/issues"><i class="fa fa-bug"></i>Bugs</a></li>-->
            <!-- http://blog.nodeknockout.com/post/35364532732/protip-add-the-vote-ko-badge-to-your-app -->
            <li><iframe src="http://nodeknockout.com/iframe/nko-analytics" frameborder=0 scrolling=no allowtransparency=true width=115 height=25 style="margin-top: 16px;"></iframe></li>
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </div>

    <div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="privacy-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="privacy-label" class="modal-title">Privacy Policy</h4>
          </div>
          <div class="modal-body">
            <%= title %> only tracks the title, url, and time spent on the visited website. <%= title %> does not share the collected information.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="technologies" tabindex="-1" role="dialog" aria-labelledby="technologies-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="technologies-label" class="modal-title"><%= title %> Is Powered by</h4>
          </div>
          <div class="modal-body">
            <ul>
              <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
              <li><a target="_blank" href="http://www.kirilv.com/fork-ribbon-css-builder/">CSS Ribbon Builder</a></li>
              <li><a target="_blank" href="http://embeddedjs.com/">ejs</a></li>
              <li><a target="_blank" href="http://expressjs.com/">express</a></li>
              <li><a target="_blank" href="http://bootswatch.com/flatly/">Flatly</a></li>
              <li><a target="_blank" href="http://fortawesome.github.io/Font-Awesome/">Font Awsome</a></li>
              <li><a target="_blank" href="http://google-code-prettify.googlecode.com/svn/trunk/README.html">google-code-prettify</a></li>
              <li><a target="_blank" href="http://jquery.com">jQuery</a></li>
              <li><a target="_blank" href="https://github.com/fgnass/node-dev">node-dev</a></li>
              <li><a target="_blank" href="http://smoothiecharts.org/">Smoothie Charts</a></li>
              <li><a target="_blank" href="http://socket.io">socket.io</a></li>
              <li><a target="_blank" href="https://github.com/mishoo/UglifyJS">uglify-js</a></li>
              <li><a target="_blank" href="http://www.xiconeditor.com/">X-Icon Editor</a></li>
              <li><a target="_blank" href="http://zeroclipboard.org/">ZeroClipboard</a></li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="ribbon" tabindex="-1" role="dialog" aria-labelledby="ribbon-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="ribbon-label" class="modal-title"><i class="fa fa-tags"></i> Tracking Snippet</h4>
          </div>
          <div class="modal-body">
            <h4>Why?</h4>
            <p>Because <%= title %> can provide real-time analytics using the data sent by the tracking snippet. <%= title %> ranks tracked <a target="_blank" href="http://nodeknockout.com/">Node Kockout</a> participant websites.</p>
            <br>
            <h4>How?</h4>
            <p>Simply place one of the following code at the bottom of the HTML body on your site. There are multiple options such as with vs. without the ribbon, minified vs. unminified, the position of the ribbon.</p>
            <br>
            <h4>For Production (Minified)</h4>
            <dl>
              <dt>With Upper Right Corner Ribbon (Default)</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-min">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-min">&lt;script src="http://<%= domain %>/trk.min.js"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>With Upper Left Corner Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-min-ribbon-top-left">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-min-ribbon-top-left">&lt;script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-top-left"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>With Lower Right Corner Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-min-ribbon-bottom-right">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-min-ribbon-bottom-right">&lt;script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-bottom-right"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>With Lower Left Corner Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-min-ribbon-bottom-left">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-min-ribbon-bottom-left">&lt;script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-bottom-left"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>With Right Side Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-min-ribbon-side-right">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-min-ribbon-side-right">&lt;script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-side-right"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>With Left Side Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-min-ribbon-side-left">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-min-ribbon-side-left">&lt;script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-side-left"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>Without Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-min-no-ribbon">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-min-no-ribbon">&lt;script src="http://<%= domain %>/trk.min.js" class="trk-no-ribbon"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <br>
            <h4>For Debugging (Unminified)</h4>
            <dl>
              <dt>With Upper Right Corner Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk">&lt;script src="http://<%= domain %>/trk.js"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>With Upper Left Corner Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-ribbon-top-left">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-ribbon-top-left">&lt;script src="http://<%= domain %>/trk.js" class="trk-ribbon-top-left"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>With Lower Right Corner Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-ribbon-bottom-right">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-ribbon-bottom-right">&lt;script src="http://<%= domain %>/trk.js" class="trk-ribbon-bottom-right"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>With Lower Left Corner Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-ribbon-bottom-left">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-ribbon-bottom-left">&lt;script src="http://<%= domain %>/trk.js" class="trk-ribbon-bottom-left"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>With Right Side Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-ribbon-side-right">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-ribbon-side-right">&lt;script src="http://<%= domain %>/trk.js" class="trk-ribbon-side-right"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>With Left Side Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-ribbon-side-left">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-ribbon-side-left">&lt;script src="http://<%= domain %>/trk.js" class="trk-ribbon-side-left"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
            <dl>
              <dt>Without Ribbon</dt>
              <dd>
                <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-no-ribbon">Copy</button>
                <pre class="prettyprint"><code class="language-html" id="trk-no-ribbon">&lt;script src="http://<%= domain %>/trk.js" class="trk-no-ribbon"&gt;&lt;/script&gt;</code></pre>
              </dd>
            </dl>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div id="main" class="container">
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" style="width: 100%"></div>
          </div>
          <div class="well">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>What's this?</h4>
            <p>NKO Analytics is a real-time dashboard for <a target="_blank" href="http://nodeknockout.com/">Node Kockout</a> participants. Given 2-day dev time, they need to make sure their websites attract visitors for every moment. This app facilitates developers to learn from other high-traffic sites. A simple analytics tool can make the hackathon more exciting! <code>Duplicate your browser tab</code> and see the number of visitors changes on the fly.</p>
          </div>
          <% for (var i = 1; i <= 5; i++) {%>
            <div id="res<%= i %>" style="display: none;">
              <a class="link<%= i %> link" target="_blank">
                <h2 id="title<%= i %>" class="text-primary"></h2>
              </a>
              <div class="row">
                <div class="col-lg-6">
                  <a class="link<%= i %> link" target="_blank">
                    <div id="url<%= i %>" class="text-info"></div>
                  </a>
                  <canvas class="chartCanvas" width="400" height="100" data-toggle="tooltip" title="Real-time visitor count"></canvas>
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Data</h3>
                    </div>
                    <div class="panel-body">
                      <div>
                        <span id="currentValue<%= i %>" data-toggle="tooltip" title="Current visitors">
                          <i class="fa fa-user fa-2x"></i>
                        </span>
                      </div>
                      <div>
                        <span id="aveStay<%= i %>" data-toggle="tooltip" title="Ave. time on page">
                          <i class="fa fa-clock-o fa-2x"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-picture-o"></i> Screenshot</h3>
                    </div>
                    <div class="panel-body" style="padding: 0px; height: 225px; overflow: hidden;">
                      <iframe id="thumb<%= i %>" class="thumb" sandbox scrolling="no"></iframe>
                    </div>
                    <div class="panel-footer" style="padding: 1px;"></div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
          <div id="no-results" style="display: none;">
            <h2 class="text-center">No Results <i class="fa fa-frown-o"></i></h2>
          </div>
        </div>
        <div class="container text-center">
          <ul id="pagination" class="pagination" style="display: none;">
        <!--<li><a href="#">&laquo;</a></li>-->
            <li id="p1" class="active"><a href="#<%= encodeURIComponent(JSON.stringify({page: 1})) %>">1</a></li>
            <% for (var i = 2; i <= 5; i++) {%>
              <li id="p<%= i %>" style="display: none;"><a href="#<%= encodeURIComponent(JSON.stringify({page: i})) %>"><%= i %></a></li>
            <% } %>
        <!--<li><a href="#">&raquo;</a></li>-->
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <div class="well">
            <div class="container">
              <h2>Add Me on Your Site <i class="fa fa-level-up"></i></h2>
              <p>Simply place one of the following code at the bottom of the HTML body on your site.</p>
              <dl>
                <dt>Tracking Snippet with Ribbon</dt>
                <dd>
                  <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-min">Copy</button>
                  <pre class="prettyprint"><code class="language-html">&lt;script src="http://<%= domain %>/trk.min.js"&gt;&lt;/script&gt;</code></pre>
                </dd>
              </dl>
              <dl>
                <dt>Tracking Snippet without Ribbon</dt>
                <dd>
                  <button class="btn-default btn-xs btn-cp pull-right" style="display: none;" data-clipboard-target="trk-min-no-ribbon">Copy</button>
                  <pre class="prettyprint"><code class="language-html">&lt;script src="http://<%= domain %>/trk.js" class="trk-no-ribbon"&gt;&lt;/script&gt;</code></pre>
                </dd>
              </dl>
              <p><a class="btn btn-info" data-toggle="modal" href="#ribbon">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="container">
            <hr style="border:1px solid #aaa">
            <p class="credit">&copy; 2013 <a target="_blank" href="https://twitter.com/ktanimur"><%= author %></a> All rights reserved except those specifically granted herein</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!--<script src="http://<%= domain %>/trk.js"></script>-->
    <!--<script src="http://<%= domain %>/trk.js" class="trk-no-ribbon"></script>-->
    <!--<script src="http://<%= domain %>/trk.js" class="trk-ribbon-top-right"></script>-->
    <!--<script src="http://<%= domain %>/trk.js" class="trk-ribbon-top-left"></script>-->
    <!--<script src="http://<%= domain %>/trk.js" class="trk-ribbon-bottom-right"></script>-->
    <!--<script src="http://<%= domain %>/trk.js" class="trk-ribbon-bottom-left"></script>-->
    <!--<script src="http://<%= domain %>/trk.js" class="trk-ribbon-side-right"></script>-->
    <!--<script src="http://<%= domain %>/trk.js" class="trk-ribbon-side-left"></script>-->
    <script src="http://<%= domain %>/trk.min.js"></script>
    <!--<script src="http://<%= domain %>/trk.min.js" class="trk-no-ribbon"></script>-->
    <!--<script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-top-right"></script>-->
    <!--<script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-top-left"></script>-->
    <!--<script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-bottom-right"></script>-->
    <!--<script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-bottom-left"></script>-->
    <!--<script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-side-right"></script>-->
    <!--<script src="http://<%= domain %>/trk.min.js" class="trk-ribbon-side-left"></script>-->
    <script src="/javascripts/smoothie.js"></script>
    <script src="/javascripts/client.js"></script>
    <script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script src="ZeroClipboard.min.js"></script>
  </body>
</html>
